<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
  <title>jellyho</title>
  {% include 'blog/head.html' %}
  <meta name="description" content="jellyho's website. Whatever It Takes!">
  <meta property="og:title" content="jellyho">
  <meta property="og:description" content="jellyho's website. Whatever It Takes!">
</head>
  
<body class="bg-jellyho mb-5 py-3">
  {% load socialaccount %}
  <nav class="navbar navbar-expand-lg navbar-expand-md bg-jellyho fixed-top">
    <div class="container">
      <ul class="navbar-nav ml-auto" style="font-family: 'Do Hyeon', sans-serif;">
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% if user.socialaccount_set.all.0.get_avatar_url %}
                                <img class="rounded-circle" width="25px" src="{{user.socialaccount_set.all.0.get_avatar_url}}">
                                {% else %}
                                <img class="rounded-circle" width="25px" src="https://avatars.dicebear.com/api/avataaars/{{user.username}}.svg">
                                {% endif %}
                                &nbsp;
                            {{ user.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="/accounts/logout/?next=/">Log Out</a>
                        </div>
                    </li>
                        {% else %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/accounts/login/?next=/">Log In</a>
                    </li>
                        {% endif %}
                </ul>
    </div>
</nav>
  <h1 class="text-center mt-5 mb-0 text-light" style="font-family: 'Staatliches', cursive; font-size:15vw;">JELLYHO</h1>
  <div class="container my-0 d-flex justify-content-end">
    <a role="button" href="/about_me/" class="text-light my-0 mx-3" style="font-family: 'Staatliches', cursive; font-size:2.3vw;">ABOUT ME<i class="fas fa-arrow-right"></i></a>
  </div>
  <h1 class="text-center my-0 text-light" style="font-family: 'Style Script', cursive; font-size:7vw;">Whatever It Takes</h1>
  
  <div class="container my-0 d-none d-md-block">
    <div class="row">
      <div class="col mt-3 mb-1 d-flex justify-content-center">
        <a role="button" class="btn btn-outline-primary w-100 h-100 px-0" href="/blog/">
          <h1 class="" style="font-family: 'Staatliches', cursive; font-size:6vw;"><i class="fas fa-clipboard-list"></i> BLOG</h1>
        </a>
      </div>
      <div class="col mt-3 my-1 d-flex justify-content-center">
        <a role="button" class="btn btn-outline-warning w-100 h-100 px-0" href="/products/">
            <h1 class="" style="font-family: 'Staatliches', cursive; font-size:6vw;">PRODUCTS</h1>
        </a>
      </div>
      <div class="col mt-3 my-1 d-flex justify-content-center">
        <a role="button" class="btn btn-outline-info w-100 h-100 px-0" href="/lab/">
            <h1 class="" style="font-family: 'Staatliches', cursive; font-size:6vw;"><i class="fas fa-flask"></i> LAB</h1>
        </a>
      </div>
    </div>
  </div>
  <div class="container my-0 d-block d-md-none">
    <div class="row">
    </div>
    <div class="row">
      <div class="col-12 mt-3 my-1 d-flex justify-content-center">
        <a role="button" class="btn btn-outline-primary w-100 h-100 px-0" href="/blog/">
          <h1 class="" style="font-family: 'Staatliches', cursive; font-size:9vw;"><i class="fas fa-clipboard-list"></i> BLOG</h1>
        </a>
      </div>
      <div class="col-12 mt-3 my-1 d-flex justify-content-center">
        <a role="button" class="btn btn-outline-warning w-100 h-100 px-0" href="/products/">
            <h1 class="" style="font-family: 'Staatliches', cursive; font-size:9vw;">PRODUCTS</h1>
        </a>
      </div>
      <div class="col-12 mt-3 my-1 d-flex justify-content-center">
        <a role="button" class="btn btn-outline-info w-100 h-100 px-0" href="/lab/">
            <h1 class="" style="font-family: 'Staatliches', cursive; font-size:9vw;"><i class="fas fa-flask"></i> LAB</h1>
        </a>
      </div>
    </div>
  </div>
  <div class="fixed-bottom">
  {% include 'blog/footer.html' %}
  </div>
</body>
</html>
