body {
  padding-top: 56px;
}
code { color:#bbbbbb !important; background: #202020; !important}
.codehilite{ border-radius: .35rem !important; padding-right: .25rem!important; padding-left: .25rem!important; margin-bottom: .25rem!important;}
