.color1 { color: #201f1e}
.color2 { color: #bdbcbe}
.color3 { color: #f59d1b}
.color4 { color: #b8a61c}
.color5 { color: #46774c}
.color6 { color: #68acb0}
.color7 { color: #68abc9}
.color8 { color: #bc3b26}
.bg-jellyho {
  background-color: #201f1e;
}
.b {
  background-color: #BBDEFB;
}
.c {
  background-color: #BBDEFB;
}
